---
import SectionContainer from '../components/SectionContainer.astro';
import Description from '../components/Description.astro';
import Projects from '../components/Projects.astro';
import Layout from '../layouts/Layout.astro';
import Experiences from '../components/Experiences.astro';
import AboutMe from '../components/AboutMe.astro';
---

<Layout title="Portfolio de Mateo Castaño"
description='Desarrollador creativo, con ideas claras, buenas prácticas y flexibilidad.'>
	<main>
		<SectionContainer>
			<Description></Description>
		</SectionContainer>

		<SectionContainer id="proyectos">
			<Projects ></Projects>
		</SectionContainer>

		<SectionContainer id="experiencia">
			<Experiences></Experiences>
		</SectionContainer>

		<SectionContainer id="sobre-mi">
			<AboutMe></AboutMe>
		</SectionContainer>
	</main>
</Layout>

<style>

</style>
