---
import Title from "./Title.astro"
---
<div class="flex flex-col justify-center max-w-xl gap-6">
    <Title title="Sobre M칤"></Title>
            
    <div class="bg-teal-blue-100 p-6 rounded-md shadow-md shadow-cod-gray-900">
        <p>
            Mi nombre es Mateo, tengo 21 a침os y soy de Buenos Aires, Argentina 游뷣릖. 
            Actualmente me encuentro en el tercer a침o de Ingenieria en Sistemas en la UBA,
            donde descubr칤 mi pasi칩n por el dise침o de software.
        </p>

        <p>
            
        </p>

        <p>
             
        </p>
    </div>
</div>
