<div class="flex bg-rodeo-dust-400 size-2/3 flex-col items-center rounded-md shadow-md divide-y-2 divide-black first:bg-rodeo-dust-400">
    <div class="py-4 bg-rodeo-dust-500 text-center size-full rounded-t-md">
        <h1 class="text-4xl font-extrabold">Sobre Mí</h1>
    </div>
    
    <div class="pb-5 py-4">
        <p class="text-center text-balance text-lg"> <span class="opacity-70">En búsqueda de mi primera experiencia profesional como desarrollador en el 
            ámbito de la tecnología</span>, soy una persona organizada, con excelentes habilidades de 
            <span class="font-bold">comunicación</span>, capaz de trabajar bajo presión y tomar decisiones rápidas. 
            <span class="text-red-600 font-semibold">Me considero proactivo, con una actitud positiva y siempre dispuesto a aprender y 
            mejorar constantemente mis habilidades técnicas y prácticas</span>. Aporto una gran 
            capacidad para adaptarme a diferentes situaciones y colaborar efectivamente en <span class="font-bold">equipos</span>, 
            lo que me permite contribuir de manera significativa en cualquier entorno de trabajo.</p>    
    </div>
</div>