
<div class="grid max-w-2xl grid-cols-3 grid-rows-3 items-center rounded-md shadow-xl bg-rodeo-dust-400 p-6">
    <div class=" col-span-2 col-start-1 row-start-1 row-span-2 pr-6 pb-4">
        <h1 class="text-5xl font-bold">Hola! Soy <span class="text-red-700">Mateo</span>,</h1>
    </div>

    <div class="row-start-2 col-start-1 col-span-2 row-span-2 pr-6 text-balance">
        <p class="text-xl">Estudiante de <span class="text-rodeo-dust-950 font-semibold">Ingeniería en Informática. </span>Apasionado por la creación de <span class="underline decoration-double decoration-1 decoration-rodeo-dust-500">soluciones <span class="text-red-800 font-semibold">sencillas</span> a problemas <span class="text-red-800 font-semibold">complejos</span></span>.</p>
    </div>

    <div class="col-start-3 row-span-3">
        <img src="/public/fotopersonal.jpg" 
        class=" rounded-full size-auto shadow-md shadow-rodeo-dust-950">
    </div>
</div>