
<div class="grid max-w-2xl grid-cols-3 grid-rows-3 items-center rounded-md shadow-md shadow-cod-gray-900 bg-teal-blue-100 border-2 border-teal-blue-600 p-6">
    <div class=" col-span-2 col-start-1 row-start-1 self-end pr-6 ">
        <h1 class="text-5xl font-bold">Hola! Soy <span class="text-teal-blue-800">Mateo</span></h1>
    </div>

    <div class="row-start-2 col-start-1 col-span-2 row-span-2 pr-6 text-balance">
        <p class="text-xl">Estudiante de 3 año de
            <span class="font-semibold">Ingeniería en Informática. </span>Apasionado por la creación de 
            <span class="font-light ">soluciones 
            <span class=" font-semibold italic">sencillas</span> a problemas 
            <span class="font-semibold italic">complejos</span></span>.</p>
    </div>

    <div class="col-start-3 row-span-3">
        <img src="/public/fotopersonal.jpg" 
        class=" rounded-xl size-auto shadow-md shadow-cod-gray-400">
    </div>
</div>