
<div class="grid max-w-2xl grid-cols-3 grid-rows-2 items-center">
    <div class=" col-span-2 self-end pr-6 pb-4">
        <h1 class="text-5xl font-bold">Hola! Soy Mateo,</h1>
    </div>

    <div class="row-start-2 col-span-2 pr-6 text-balance">
        <p class="text-xl">Estudiante de <span class="text-red-900 font-semibold">Ingeniería en Informática. </span>Apasionado por la creación de <span class="underline decoration-double decoration-1 decoration-rodeo-dust-500">soluciones <span class="text-red-950 font-semibold">sencillas</span> a problemas <span class="text-red-950 font-semibold">complejos</span></span>.</p>
    </div>

    <div class="col-start-3 row-span-2">
        <img src="/public/fotopersonal.jpg" 
        class=" rounded-full size-auto shadow-xl shadow-rodeo-dust-950">
    </div>
</div>