---
const {class: className, title, time, img, description} = Astro.props
---

<div class="grid max-w-xl grid-cols-7 grid-rows-3 items-center py-5">
    <div class="col-span-2 row-span-3 col-start-6 justify-self-center">
        <img src={img}>
    </div>

    <div class="col-span-5 col-start-1 row-start-1 justify-self-start pb-2 pl-2">
        <h2 class="text-xl font-black">{title}</h2>
        <h6 class="text-xs text-stone-500 font-extralight">{time}</h6>
    </div>

    <div class="col-span-5 row-span-2 row-start-2 col-start-1 text-sm self-start">
        <ul class="leading-4 space-y-1 list-disc list-inside font-extralight">
            {
                description.map((text: unknown)=>(
                    <li>
                        {text}
                    </li>
                ))
            }
        </ul>
    </div> 
</div>