---
const navItems = [
  {
      title: "EXPERIENCIA",
      url: "/#experiencia",
    },  
  {
    title: "PROYECTOS",
    url: "/#proyectos",
  },
  {
    title: "SOBRE MÍ",
    url: "/#sobre-mi",
  },
  {
    title: "CONTACTO",
    url: "mailto:mateocastano1515@gmail.com",
  },
]
---

<header class="flex justify-center p-3 bg-cod-gray-900 shadow-md shadow-cod-gray-900 duration-300">
    <nav class="flex bg-cod-gray-200 border-2 border-cod-gray-300 mx-auto rounded-full shadow-md shadow-black">
        {
            navItems.map((link) => (
              <a class="px-4 py-1 hover:bg-cod-gray-100 active:bg-cod-gray-300 hover:scale-125 hover:text-black text-gray-800 font-semibold hover:rounded-full hover:shadow-xl transition-all" 
              href={link.url}>
                {link.title}
              </a>
            ))
          }
    </nav>
</header>