---
const {class: className, title, img} = Astro.props
---

<div class="flex flex-row text-sm rounded-xl gap-2 items-center justify-center bg-cod-gray-200 pr-2 pl-2 font-medium shadow-md">
    <img src={img} class="size-3">
    {title}
</div>