---
const {class: className, title, img} = Astro.props
---

<div class="flex flex-row rounded-xl gap-2 items-center justify-center bg-outrageous-orange-300 border-2 border-outrageous-orange-400 p-1 font-medium shadow-md">
    <img src={img} class="size-5">
    {title}
</div>