---
import Project from "./Project.astro"
import Title from "./Title.astro"

const projects = [
    {
        title: "Sistema de Gestión de Hogar Inteligente",
        description: "Backend robusto para un sistema de hogar inteligente que permite a los usuarios controlar y monitorear dispositivos como luces, termostatos y cámaras de seguridad de forma remota.",
        img: "/public/image7.webp",
        tecs: [
            {
                title: "Spring Boot",
                img: "/public/spring.svg"
            },
            {
                title: "SQL",
                img: "/public/mysql.svg"
            },
            {
                title: "JUnit",
                img: "/public/JUnit.svg"
            }
        ]
    }
]
---

<div class="flex flex-col justify-center gap-6">
    <Title title="Proyectos"></Title>
    
    {
        projects.map((project)=>(
            <Project 
            title= {project.title}
            description= {project.description}
            img = {project.img}
            tecs = {project.tecs}
            ></Project>
        ))
    }
    
</div>