<div class="max-w-xl grid grid-cols-5 grid-rows-4 items-center">
    <div class="col-span-2 row-span-4 pr-5 pt-5 pb-5">
        <img src="/public/maletin.png">
    </div>

    <div class="col-span-3 col-start-3 ">
        <h2 class="text-right text-lg font-bold text-red-700">Sistema de Gestión de Hogar Inteligente</h2>
    </div>

    <div class="col-span-3 col-start-3 row-start-2 row-span-2 bg-rodeo-dust-400 rounded-lg p-2 bg-opacity-40">
        <p class="text-justify leading-4 text-sm">Backend robusto para un sistema 
            de hogar inteligente que permite a los usuarios 
            controlar y monitorear dispositivos como luces, 
            termostatos y cámaras de seguridad de forma 
            remota.</p>
    </div>

    <div class="col-span-3 col-start-3 row-start-4 self-start">
        <button>Spring Boot</button>
    </div>
    
</div>