<div class="max-w-xl grid grid-cols-5 grid-rows-4 items-center">
    <div class="col-span-2 row-span-4">
        <img src="/public/maletin.png">
    </div>

    <div class="col-span-2 col-start-4 self-end">
        <h2 class="text-right">TITULO DE PROYECTO</h2>
    </div>

    <div class="col-span-3 col-start-3 row-start-2">
        <p>ESTA ES LA DESCRIPCION DEL PROYECTO</p>
    </div>

    <div class="col-span-3 col-start-3 row-start-4 ">
        <button>pastilla</button>
    </div>
    
</div>